.App{
    width: 1440px;
    /* border: 1px solid green; */
    margin: auto;
}

/* header image css  */
.header_img_container{
    height: 320px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
.header_img_container img{
    width: 1611px;
    height: 370PX;
    object-fit: cover;
    transform: scaleX(-1);
    left: -120px;
    top: -55px;
    position: relative;
}
.header_heading{
    width: 588.47px;
    height: 186px;
    position: absolute;
    top: 70px;
    left: 750.69px ;
    font-family: "Inter", sans-serif;
}
.header_heading h1{
    font-weight: 700;
    line-height: 58.09px;
    font-size: 48px;
    color: #CA2531;
    padding: 0;
    margin: 0;
}
.header_heading p{
    font-weight: 600;
    line-height: 26.97px;
    font-size: 16px;
    /* color: #CA2531; */
    padding: 0;
    margin: 0;
}
.header_logo{
    width: 5px;
    height: 77.35px;
    color: black;
}